In [1]:
import pandas as pd
import bs4
from bs4 import BeautifulSoup
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import requests

In [3]:
pip install lxml

Requirement already satisfied: lxml in c:\users\a\anaconda3\lib\site-packages (4.9.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
reviews=[]
country=[]
date=[]
ratings=[]

In [5]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html5")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        ratings.append(item.text)
            
    
    for item in soup.find_all("time"):
        date.append(item.text)
        
    
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" "))

In [6]:
len(ratings)

3506

In [7]:
len(country)

3471

In [8]:
len(date)

3471

In [10]:
len(reviews)

3471

In [11]:
review=reviews[:3471]

In [13]:
len(review)

3471

In [16]:
ratings=ratings[:3471]

In [17]:
len(ratings)

3471

In [18]:
df=pd.DataFrame({"review":review,"ratings":ratings,"country":country,"date":date})

In [19]:
df.head()

,review,ratings,country,date
0,✅ Trip Verified | BA 242 on the 6/2/23. Boardi...,\n\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t...,(United Kingdom),7th February 2023
1,✅ Trip Verified | Not only my first flight in...,\n 9/10\n ...,(Spain),6th February 2023
2,✅ Trip Verified | My husband and myself were ...,\n 10/10\n ...,(United Kingdom),4th February 2023
3,✅ Trip Verified | Organised boarding process. ...,\n 10/10\n ...,(United Kingdom),31st January 2023
4,✅ Trip Verified | Outward journey BA245 Londo...,\n 10/10\n ...,(United Kingdom),31st January 2023

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3471 entries, 0 to 3470
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   review   3471 non-null   object
 1   ratings  3471 non-null   object
 2   country  3471 non-null   object
 3   date     3471 non-null   object
dtypes: object(4)
memory usage: 108.6+ KB

In [21]:
df.to_csv('Ba_data')